.staged-order__header {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 34px;
}

@media screen and (max-width: 767px) {
    .staged-order__header {
        grid-template-columns: 1fr;
        gap: 19px;
    }
}