.staged-order__title {
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    padding: 0;
}